buildtemp/Project1/CGFexample.log
buildtemp/Project1/cl.command.1.tlog
buildtemp/Project1/CL.read.1.tlog
buildtemp/Project1/CL.write.1.tlog
buildtemp/Project1/link.command.1.tlog
buildtemp/Project1/link.read.1.tlog
buildtemp/Project1/link.write.1.tlog
buildtemp/Project1/main.obj
buildtemp/Project1/mt.command.1.tlog
buildtemp/Project1/mt.read.1.tlog
buildtemp/Project1/mt.write.1.tlog
buildtemp/Project1/MyUnitCube.obj
buildtemp/Project1/Project1.Build.CppClean.log
buildtemp/Project1/Project1.exe.intermediate.manifest
buildtemp/Project1/Project1.lastbuildstate
buildtemp/Project1/Project1.write.1.tlog
buildtemp/Project1/Scene.obj
buildtemp/Project1/vc100.idb
buildtemp/Project1/vc100.pdb
buildtemp/Project1/XMLScene.obj
Project1/Project1.opensdf
Project1/Project1.sdf
buildtemp/Project1/ANFparser.obj
buildtemp/Project1/Project1.log
Project1/bin/Project1.exe
Project1/bin/Project1.ilk
Project1/bin/Project1.pdb
